:root {
  --black: #263238;
  --blue: #304FFE;
  --grey: #97A1A7;
  --l-grey: #F8F9F9;
  --text-tiny: 0.625rem;
  --text-small: 0.6875rem;
  --easing: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  --easing2: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'avenir', system, -apple-system, BlinkMacSystemFont,"Helvetica Neue", "Lucida Grande";
  color: var(--black);
  background-color: #EBEDEE;
}

a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s var(--easing);
  color: var(--blue);
}

a:visited { color: var(--blue); }

a:not(nav)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s var(--easing), background-color 0.3s var(--easing);
  transform-origin: right;
}

a:not(.nav-link):hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background-color: currentColor;
}

* { box-sizing: border-box; }
