.todo-list { overflow: scroll; }

.todo-list ul {
  padding: 0;
}

.todo-list ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  align-items: center;
}

.todo-list .task {
  margin-left: 1rem;
}

.todo-list .task-item {
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.todo-list .task-item.completed {
  text-decoration: line-through;
  color: rgba(0,0,0,0.4);
}

.todo-list .created {
  width: 100%;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: rgba(0,0,0,0.4);
  font-weight: 500;
}
