.todo-list {
  overflow: scroll;
  min-height: 100vh;
}

.todo-list ul {
  padding: 0 1rem;
  margin: 0;
}

.todo-list li {
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list li.important {
  font-size: 1.5rem;
  font-weight: 100;
}

.todo-list .task {
  margin-left: 1rem;
  margin-right: 1rem;
}

.todo-list .task-item {
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.task-item .task-text {
  position: relative;
  display: inline-block;
  transition: color 0.3s var(--easing);
}

.task-item .task-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey);
  height: 1px;
  width: 100%;
  margin: auto;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s var(--easing);
}

.task-item.completed .task-text::after {
  transform: scaleX(1);
  transform-origin: left;
}

.task-item.completed .task-text { color: var(--grey); }

.todo-list .created {
  width: 100%;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--grey);
  font-weight: 500;
}



.task-enter .complete-container,
.task-enter .task,
.task-enter .remove-container {
  opacity: 0.01;
  transform: translateY(3rem);
  overflow: visible;
}

.task-enter.task-enter-active .complete-container,
.task-enter.task-enter-active .task,
.task-enter.task-enter-active .remove-container {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.task-enter.task-enter-active .task { transition-delay: 0.035; }
.task-enter.task-enter-active .remove-container { transition-delay: 0.07s; }

.task-leave {
  opacity: 1;
}

.task-leave.task-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
