.todo-list { overflow: scroll; }

.todo-list ul {
  padding: 0 1rem;
  margin: 0;
}

.todo-list li {
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list li.important {
  font-size: 1.5rem;
  font-weight: 100;
}

.todo-list .task {
  margin-left: 1rem;
  margin-right: 1rem;
}

.todo-list .task-item {
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.task-item .task-text {
  position: relative;
  display: inline-block;
  transition: color 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.task-item .task-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  height: 1px;
  width: 100%;
  margin: auto;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.task-item.completed .task-text::after {
  transform: scaleX(1);
  transform-origin: left;
}

.task-item.completed .task-text { color: rgba(0,0,0,0.4); }

.todo-list .created {
  width: 100%;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: rgba(0,0,0,0.4);
  font-weight: 500;
}
