nav {
  line-height: 3rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
  height:3rem;
  overflow-y: visible;
}

nav span { height: 3rem; }

nav ul {
  margin: 0;
  padding: 0;
  height: inherit;
  overflow-y: inherit;
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  min-width: min-content;*/
  overflow-x: scroll;

  white-space:nowrap;
}

nav::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  background: linear-gradient(to right,rgba(255,255,255,0), rgba(255,255,255,1));
  width: 4rem;
}

nav li {
  height: inherit;
  padding: 0 1rem;
  position: relative;
  display: inline-block;
  list-style: none;
}

nav a.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--black);
  font-weight: 500;
  font-size: 0.75rem;
}

nav a:hover,
nav li.active a {
  color: var(--blue);
}

nav li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--blue);
  transition: transform 0.2s var(--easing);
  transform: scaleX(0);
  /*transform-origin: right;*/
}

nav li.active::after {
  transform: scaleX(1);
  /*transform-origin: left;*/
}


.nav-enter {
  opacity: 0.01;
  transform: translateY(1rem);
}

.nav-enter.nav-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000), opacity 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.nav-leave {
  opacity: 1;
  transform: translateY(0);
}

.nav-leave.nav-leave-active {
  opacity: 0.01;
  transform: translateY(1rem);
  transition: transform 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000), opacity 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-delay: 0.2s;
}
